@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .btn-default {
    @apply font-semibold shadow-md text-zinc-600 bg-zinc-100 hover:bg-zinc-200 dark:text-zinc-300 dark:bg-zinc-800 dark:hover:bg-zinc-700;
  }
  .btn-primary {
    @apply font-semibold shadow-md text-zinc-100 bg-sky-400 hover:bg-sky-500 dark:text-zinc-300 dark:bg-sky-800 dark:hover:bg-sky-700;
  }
  .btn-warning {
    @apply font-semibold shadow-md text-zinc-100 bg-orange-400 hover:bg-orange-500 dark:text-zinc-300 dark:bg-orange-900 dark:hover:bg-orange-800;
  }
}

@layer base {
  :root {
    @apply font-sans text-zinc-900 bg-zinc-50 dark:text-zinc-50 dark:bg-zinc-900 scroll-smooth transition;
  }

  html,
  body,
  #app {
    @apply h-full overflow-hidden;
  }

  button {
    @apply relative overflow-hidden;
  }

  span.ripple {
    position: absolute;
    border-radius: 50%;
    transform: scale(0);
    opacity: 1;
    background-color: rgba(255, 255, 255, 0.4);
    animation: ripple 600ms linear;
  }

  @keyframes ripple {
    to {
      transform: scale(4);
      opacity: 0;
    }
  }
}
